<ion-card margin-top>
  <ion-card-title  margin-top>
    <h2 text-center><strong>Inicia sesión para usar nuestros servicios</strong></h2>
  </ion-card-title>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>

    <ion-row  margin-bottom float-right>
      <button color="secondary" clear ion-button (click)="navigateToPage('RegisterPage')" >Registarse</button>
      <button color="secondary" (click)="login()" ion-button >Login</button>
    </ion-row>

  </ion-card-content>
</ion-card>